
# Directorios de caché de Python
**/__pycache__
*.pyc

# Build / packaging
*.egg-info/
dist/
build/

#Jupyter Notebooks
*.ipynb

#Imagenes
*.png

# Pdfs
*.pdf

#HTML
*.html

#Archivos Ftool
*.ftl

#Archivos LTBeamN
onltbeamn/
*.ltbn

# Vscode
.vscode/

